{% extends 'base.html' %}
{% load static %}

{% block title %}Errore server (500){% endblock %}

{% block content %}
<div class="container" style="margin-top:4rem;">
  <div class="card z-depth-2">
    <div class="card-content center">
      <i class="material-icons large red-text">report_problem</i>
      <h4>Si è verificato un errore inatteso! BOOOOOM BABY!!!</h4>
      <p class="grey-text">Il problema è stato registrato. Riprova tra poco.</p>
      <div class="section">
        <a href="{% url 'landing' %}" class="btn">
          <i class="material-icons left">home</i>Vai alla dashboard
        </a>
        {% if not user.is_authenticated %}
          <a href="{% url 'login' %}" class="btn-flat">
            <i class="material-icons left">login</i>Accedi
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
